In [1]:
import pandas as pd

In [2]:
company = pd.read_csv('Unicorn_companies.csv')
company

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding
0,Bytedance,180,07-04-2017,Artificial intelligence,Beijing,China,Asia,2012,NaN
1,SpaceX,100,01-12-2012,Other,Hawthorne,United States,North America,2002,7.0
2,SHEIN,100,03-07-2018,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2.0
3,Stripe,95,23-01-2014,Fintech,San Francisco,United States,North America,2010,2.0
4,Klarna,46,12-12-2011,Fintech,Stockholm,Sweden,Europe,2005,4.0
...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,1,29-06-2017,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,379.0
1070,Zhuan Zhuan,1,18-04-2017,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,990.0
1071,Zihaiguo,1,06-05-2021,Consumer & retail,Chongqing,China,Asia,2018,80.0
1072,Zopa,1,19-10-2021,Fintech,London,United Kingdom,Europe,2005,792.0
1073,Zwift,1,16-09-2020,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,620.0

In [3]:
company.columns

Index(['Company', 'Valuation', 'Date Joined', 'Industry', 'City', 'Country',
       'Continent', 'Year Founded', 'Funding'],
      dtype='object')

In [4]:
company.index

RangeIndex(start=0, stop=1074, step=1)

In [7]:
company_ind = company.set_index("Company") 
company_ind

,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding
Company,,,,,,,,
Bytedance,180,07-04-2017,Artificial intelligence,Beijing,China,Asia,2012,NaN
SpaceX,100,01-12-2012,Other,Hawthorne,United States,North America,2002,7.0
SHEIN,100,03-07-2018,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2.0
Stripe,95,23-01-2014,Fintech,San Francisco,United States,North America,2010,2.0
Klarna,46,12-12-2011,Fintech,Stockholm,Sweden,Europe,2005,4.0
...,...,...,...,...,...,...,...,...
Zhaogang,1,29-06-2017,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,379.0
Zhuan Zhuan,1,18-04-2017,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,990.0
Zihaiguo,1,06-05-2021,Consumer & retail,Chongqing,China,Asia,2018,80.0
Zopa,1,19-10-2021,Fintech,London,United Kingdom,Europe,2005,792.0
Zwift,1,16-09-2020,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,620.0

In [ ]:
company.set_index("City")

In [ ]:
company_ind.reset_index()

In [ ]:
company_ind.reset_index(drop=True)

In [ ]:
company

In [ ]:
company[['Continent']][1072]

In [ ]:
company[company["Company"].isin(["SpaceX","SHEIN"])]

In [ ]:
company_ind

In [ ]:
company_ind.loc['Bytedance': "Stripe"]

In [ ]:
company_ind.loc["SpaceX"]

In [ ]:
company_ind2 = company.set_index("Continent")  
company_ind2

In [ ]:
company_ind2.loc["North America"]

In [ ]:
continents = ['Asia', 'North America', 'Europe', 'Oceania', 'South America','Africa']

In [ ]:
print(continents[1:3])
print(continents[:3])
print(continents[:])

In [ ]:
company_srt = company_ind.sort_index() 
company_srt

In [ ]:
company_srt['1047 Games':'56PINGTAI']['Valuation':'City']
company_srt['1047 Games':'56PINGTAI','Valuation':'City']

In [ ]:
# company_srt.loc["1047 Games":'56PINGTAI	']['Date Joined']
company_srt.loc["1047 Games":'56PINGTAI	','Industry':'Continent']

In [ ]:
company_srt.iloc[1:4,5:]