In [1]:
import pandas as pd

sp500 = pd.read_csv("sp500.csv")
sp500

                           Name                  Sector   Price    EPS
0                     Apple Inc  Information Technology  170.12   9.20
1                    Abbvie Inc             Health Care   93.29   5.31
2           Abbott Laboratories             Health Care   55.28   2.41
3                 Accenture Plc  Information Technology  145.30   5.91
4                  Allergan Plc             Health Care  171.81  15.42
..                          ...                     ...     ...    ...
97   Verizon Communications Inc      Telecommunications   45.85   3.75
98     Walgreens Boots Alliance        Consumer Staples   70.25   5.10
99        Wells Fargo & Company              Financials   54.02   4.14
100             Wal-Mart Stores        Consumer Staples   96.08   4.36
101            Exxon Mobil Corp                  Energy   80.31   3.56

[102 rows x 4 columns]

In [2]:
sp500['name1']=sp500["Name"].str[:]

In [3]:
sp500

,Name,Sector,Price,EPS,name1
0,Apple Inc,Information Technology,170.12,9.20,Apple Inc
1,Abbvie Inc,Health Care,93.29,5.31,Abbvie Inc
2,Abbott Laboratories,Health Care,55.28,2.41,Abbott Laboratories
3,Accenture Plc,Information Technology,145.30,5.91,Accenture Plc
4,Allergan Plc,Health Care,171.81,15.42,Allergan Plc
...,...,...,...,...,...
97,Verizon Communications Inc,Telecommunications,45.85,3.75,Verizon Communications Inc
98,Walgreens Boots Alliance,Consumer Staples,70.25,5.10,Walgreens Boots Alliance
99,Wells Fargo & Company,Financials,54.02,4.14,Wells Fargo & Company
100,Wal-Mart Stores,Consumer Staples,96.08,4.36,Wal-Mart Stores
101,Exxon Mobil Corp,Energy,80.31,3.56,Exxon Mobil Corp

In [4]:
sp500["Name"].str[0:3]

0      App
1      Abb
2      Abb
3      Acc
4      All
      ...
97     Ver
98     Wal
99     Wel
100    Wal
101    Exx
Name: Name, Length: 102, dtype: object

In [5]:
a='sunil uchia'.split(' ')
a

['sunil', 'uchia']

In [6]:
print(sp500["Name"].str.split(" "))

0                        [Apple, Inc]
1                       [Abbvie, Inc]
2              [Abbott, Laboratories]
3                    [Accenture, Plc]
4                     [Allergan, Plc]
                    ...
97     [Verizon, Communications, Inc]
98       [Walgreens, Boots, Alliance]
99         [Wells, Fargo, &, Company]
100                [Wal-Mart, Stores]
101              [Exxon, Mobil, Corp]
Name: Name, Length: 102, dtype: object

In [7]:
sp500["last_name"] = sp500["Name"].str.split(" ", expand=True)[1]

print(sp500[["Name","last_name"]])

                           Name       last_name
0                     Apple Inc             Inc
1                    Abbvie Inc             Inc
2           Abbott Laboratories    Laboratories
3                 Accenture Plc             Plc
4                  Allergan Plc             Plc
..                          ...             ...
97   Verizon Communications Inc  Communications
98     Walgreens Boots Alliance           Boots
99        Wells Fargo & Company           Fargo
100             Wal-Mart Stores          Stores
101            Exxon Mobil Corp           Mobil

[102 rows x 2 columns]

In [8]:
sp500['Name'].str.replace(' ','-')

0                       Apple-Inc
1                      Abbvie-Inc
2             Abbott-Laboratories
3                   Accenture-Plc
4                    Allergan-Plc
                  ...
97     Verizon-Communications-Inc
98       Walgreens-Boots-Alliance
99          Wells-Fargo-&-Company
100               Wal-Mart-Stores
101              Exxon-Mobil-Corp
Name: Name, Length: 102, dtype: object

In [9]:
print(sp500["Name"] + " - " + sp500["Sector"])

0                   Apple Inc - Information Technology
1                             Abbvie Inc - Health Care
2                    Abbott Laboratories - Health Care
3               Accenture Plc - Information Technology
4                           Allergan Plc - Health Care
                            ...
97     Verizon Communications Inc - Telecommunications
98         Walgreens Boots Alliance - Consumer Staples
99                  Wells Fargo & Company - Financials
100                 Wal-Mart Stores - Consumer Staples
101                          Exxon Mobil Corp - Energy
Length: 102, dtype: object

In [10]:
sp500["name_lower"] = sp500["Name"].str.lower()

print(sp500[["Name","name_lower"]])

                           Name                  name_lower
0                     Apple Inc                   apple inc
1                    Abbvie Inc                  abbvie inc
2           Abbott Laboratories         abbott laboratories
3                 Accenture Plc               accenture plc
4                  Allergan Plc                allergan plc
..                          ...                         ...
97   Verizon Communications Inc  verizon communications inc
98     Walgreens Boots Alliance    walgreens boots alliance
99        Wells Fargo & Company       wells fargo & company
100             Wal-Mart Stores             wal-mart stores
101            Exxon Mobil Corp            exxon mobil corp

[102 rows x 2 columns]

In [11]:
print(sp500["Sector"].str.capitalize())

0      Information technology
1                 Health care
2                 Health care
3      Information technology
4                 Health care
                ...
97         Telecommunications
98           Consumer staples
99                 Financials
100          Consumer staples
101                    Energy
Name: Sector, Length: 102, dtype: object

In [12]:
print(sp500["Sector"][0].upper())

INFORMATION TECHNOLOGY

In [13]:
print(sp500["Name"].str.replace(" ", "-"))

0                       Apple-Inc
1                      Abbvie-Inc
2             Abbott-Laboratories
3                   Accenture-Plc
4                    Allergan-Plc
                  ...
97     Verizon-Communications-Inc
98       Walgreens-Boots-Alliance
99          Wells-Fargo-&-Company
100               Wal-Mart-Stores
101              Exxon-Mobil-Corp
Name: Name, Length: 102, dtype: object

In [14]:
sp500["company"] = sp500["Name"].str[-3:]

# Replace state abbreviations with actual state names
sp500["company"].replace(
    {"Inc": "llp", "Plc": "pvt"},
    inplace = True
)

print(sp500["company"])

0      llp
1      llp
2      ies
3      pvt
4      pvt
      ...
97     llp
98     nce
99     any
100    res
101    orp
Name: company, Length: 102, dtype: object