In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    "A": [1, 2, 3, np.nan],
    "B": [2.4, 6.2, 5.1, np.nan],
    "C": ["foo","zoo","bar", np.nan]
})
print(df)

     A    B    C
0  1.0  2.4  foo
1  2.0  6.2  zoo
2  3.0  5.1  bar
3  NaN  NaN  NaN

In [2]:
df = pd.DataFrame({
    "A": [1, 2, 3, np.nan],
    "B": [2.4, 6.2, 5.1, np.nan],
    "C": ["foo","zoo","bar", np.nan]
})

df["A"] = df["A"].astype(pd.Int64Dtype())
print(df)

      A    B    C
0     1  2.4  foo
1     2  6.2  zoo
2     3  5.1  bar
3  <NA>  NaN  NaN

In [2]:
df = pd.DataFrame({
    "A": [1, 2, 3, np.nan, 7],
    "B": [2.4, np.nan, 5.1, np.nan, 2.6],
    "C": [np.nan, "foo","zoo","bar", np.nan],
    "D": [11.5, np.nan, 6.2, 21.1, 8.7]
})
print(df)
print(df.isna())

     A    B    C     D
0  1.0  2.4  NaN  11.5
1  2.0  NaN  foo   NaN
2  3.0  5.1  zoo   6.2
3  NaN  NaN  bar  21.1
4  7.0  2.6  NaN   8.7
       A      B      C      D
0  False  False   True  False
1  False   True  False   True
2  False  False  False  False
3   True   True  False  False
4  False  False   True  False

In [6]:
df = pd.DataFrame({
    "A": [1, 2, 3, np.nan, 7],
    "B": [2.4, np.nan, 5.1, np.nan, 2.6],
    "C": [np.nan, "foo","zoo","bar", np.nan],
    "D": [11.5, np.nan, 6.2, 21.1, 8.7]
})

print(df.isna().sum())

A    1
B    2
C    2
D    1
dtype: int64

In [7]:
df = pd.DataFrame({
    "A": [1, 2, 3, np.nan, 7],
    "B": [2.4, np.nan, 5.1, np.nan, 2.6],
    "C": [np.nan, "foo","zoo","bar", np.nan],
    "D": [11.5, np.nan, 6.2, 21.1, 8.7]
})

print(df.isna().sum(axis=1))

0    1
1    2
2    0
3    2
4    1
dtype: int64

In [3]:
df = pd.DataFrame({
    "A": [1, 2, 3, np.nan, 7],
    "B": [2.4, np.nan, 5.1, np.nan, 2.6],
    "C": [np.nan, "foo","zoo","bar", np.nan],
    "D": [11.5, np.nan, 6.2, 21.1, 8.7]
})

print(df.notna())

       A      B      C      D
0   True   True  False   True
1   True  False   True  False
2   True   True   True   True
3  False  False   True   True
4   True   True  False   True

In [12]:
df = pd.DataFrame({
    "A": [1, 2, 3, np.nan, 7],
    "B": [2.4, np.nan, 5.1, np.nan, 2.6],
    "C": [np.nan, "foo","zoo","bar", np.nan],
    "D": [11.5, np.nan, 6.2, 21.1, 8.7],
    "E": [1, 2, 3, 4, 5]
})
print(df)
# Drop rows that have at least one missing value
print("\n")
print(df.dropna(axis=1, how="any"))

     A    B    C     D  E
0  1.0  2.4  NaN  11.5  1
1  2.0  NaN  foo   NaN  2
2  3.0  5.1  zoo   6.2  3
3  NaN  NaN  bar  21.1  4
4  7.0  2.6  NaN   8.7  5


   E
0  1
1  2
2  3
3  4
4  5

In [ ]:

df = pd.DataFrame({
    "A": [1, 2, 3, np.nan, 7],
    "B": [2.4, np.nan, 5.1, np.nan, 2.6],
    "C": [np.nan, "foo","zoo","bar", np.nan],
    "D": [11.5, np.nan, 6.2, 21.1, 8.7],
    "E": [1, 2, 3, 4, 5]
})

# Drop columns that have at least one missing value
print(df.dropna(axis=1, how="any"))

In [14]:
df.fillna(1)

     A    B    C     D  E
0  1.0  2.4    1  11.5  1
1  2.0  1.0  foo   1.0  2
2  3.0  5.1  zoo   6.2  3
3  1.0  1.0  bar  21.1  4
4  7.0  2.6    1   8.7  5